ul{
    list-style-type: none;
    margin : 0px;
    padding : 0px;
    overflow: hidden;
    background-color: #93b6fa;
}


li {
    float: left;
  }

li a{
    display: block;
    text-align: center;
    padding: 20px 20px;
    color: black;
    text-decoration: none;

}
li a:hover{
    background-color: #6672de;
}
.flex-box{
    display: flex;
    margin: auto;
    width: 50%;
}

.flex-box div{
    padding: 50px
}